
<!-- <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-color">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a routerLink="/admindashboard" class="nav-link align-middle px-0">
                            <i class="fa-solid fa-chart-line"></i> <span class="ms-1 d-none d-sm-inline  text-light">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fa-solid fa-file"></i> <span class="ms-1 d-none d-sm-inline text-light">Reports</span> </a>
                    </li>
                    <li>
                        <a routerLink="/adminusers" class="nav-link px-0 align-middle">
                            <i class="fa-solid fa-users"></i> <span class="ms-1 d-none d-sm-inline text-light">Users</span></a>
                    </li>
                    <li>
                        <a routerLink="/adminprofessionals" class="nav-link px-0 align-middle">
                            <i class="fa-solid fa-user-doctor"></i> <span class="ms-1 d-none d-sm-inline text-light">Professionals</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fa-solid fa-calendar-check"></i> <span class="ms-1 d-none d-sm-inline text-light">Appointments</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fa-solid fa-money-bill"></i> <span class="ms-1 d-none d-sm-inline text-light">Payments</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i> <span class="ms-1 d-none d-sm-inline text-light">Logout</span> </a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
        <div class="col py-3"> -->
           
         <!-- temp -->
         <app-back-button></app-back-button>
         <div class="container-xl">
            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-5">
                                <h2>User <b>Management</b></h2>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>						
                                <th>Email</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users; let i=index">
                                <td>{{i}}</td>
                                <td>{{user.Name}}</td>                       
                                <td>{{user.Email}}</td>
                                <td><span class="status text-success">&bullet;</span>{{user.Status}}</td>
                                <td>
                                  <div *ngIf="user.Status === 'Active'"> <button (click)="confirmBlock(user._id)" class="btn btn-danger">block</button></div>
                                  <div *ngIf="user.Status === 'Block'"> <button (click)="confirmUnblock(user._id)" class="btn btn-success">Unblock</button></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clearfix">
                        <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                        <ul class="pagination">
                            <li class="page-item disabled"><a href="#">Previous</a></li>
                            <li class="page-item"><a href="#" class="page-link">1</a></li>
                            <li class="page-item"><a href="#" class="page-link">2</a></li>
                            <li class="page-item active"><a href="#" class="page-link">3</a></li>
                            <li class="page-item"><a href="#" class="page-link">4</a></li>
                            <li class="page-item"><a href="#" class="page-link">5</a></li>
                            <li class="page-item"><a href="#" class="page-link">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>  

         <!-- temp -->

        <!-- </div>
    </div>
</div> -->